/* Global Styles */

body {
    color:aqua;
}

/* header Styles */

header {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

#nav{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    list-style-type: none;
    margin-right: 2rem;
}

/* main Styles */

#first-section{
    border: 1px solid red;
}

#self-pic {
    max-width: 300px;
    height: auto;
    border-radius: 10%;
    display: block;
}